fieldset {
    background: #f9f9f9;
    margin: 1.5em;
    padding: 2em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
canvas {
    display: block;
    margin: 0 auto;
}
legend {font-size: 1.25em; margin-bottom: 0 !important; margin-bottom: 1.429em; padding: 0 .5em;}
label {font-size: 1.1em; height: 25px; line-height: 25px;}
input[type='text'],
input[type='email'],
input[type='url'],
textarea {
    background: #fff;
    border: 1px solid #eee;
    color: #999;
    font-family: inherit;
    font-size: inherit;
    padding: 2px;
}
input[type='text']:hover,
input[type='email']:hover,
input[type='url']:hover,
textarea:hover {
    background: #FFFBEF;
    border-color: #ff0;
    cursor: text;
}
input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
textarea:focus {
    background: #ffC;
    border-color: #ff1;
    color: #0d0d0d;
}
input[type='checkbox'], input[type='radio'] {
    display: block;
    margin-top: 4px;
}
input[type='submit'] {
    background: #C74350;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding: .3em 2em;
    text-shadow: 1px 1px 1px #000;
}
input:required, textarea:required {outline: 1px solid #C74350;}
textarea {width: 99%; margin-bottom: 7px;}
div.left {margin-left: 1em;}
div.right {margin-right: 1em;}
.labels-left label, div.left label {
    clear: left;
    float: left;
    margin-right: .5em;
    text-align: right;
}
.labels-left input, div.left input, .labels-left select, div.left select {float: left;}
.labels-right label, div.right label {
    float: left;
    margin-left: .5em;
    text-align: right;
}
.labels-right input, div.right input, .labels-right select, div.right select {clear: left; float: left;}
.labels-top label, div.top label {display: block;}
.labels-top input, div.top input {margin-bottom: 0;}
.columns-2 div.column1, .columns-2 div.column2 {float: left; width: 48%;}
.columns-2 input.text {width: 150px;}
.columns-3 div.column1, .columns-3 div.column2, .columns-3 div.column3 {float: left; width: 33%;}
.columns-3 input.text {width: 120px;}
.columns-2 div.left, .columns-2 div.right, .columns-2 div.top {width: 32%;}
.columns-3 div.left, .columns-3 div.right, .columns-3 div.top {width: 29%;}
.notice, .success {
    padding: .2em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}
.error {background: #FBE3E4; border-color: #FBC2C4; color: #8a1f11;}
.notice {background: #FFF6BF; border-color: #FFD324; color: #514721;}
.success {background: #E6EFC2; border-color: #C6D880; color: #264409;}
.error a {color: #8a1f11;}
.notice a {color: #514721;}
.success a {color: #264409;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
:focus {
    outline: 0;
}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    background: #F5F4EF url('../images/bg.png');
    color: #000305;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}
h2 {font-size: 1.571em} /* 22px */
h3 {font-size: 1.429em} /* 20px */
h4 {font-size: 1.286em} /* 18px */
h5 {font-size: 1.143em} /* 16px */
h6 {font-size: 1em}     /* 14px */
h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: .8em;
}
#btcpr {
    float: left;
    margin: 20px;
    font-size: 50px; /* Base font size: 14px */
}
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
    color: #C74350;
    padding: 0 1px;
    text-decoration: underline;
}
a:hover, a:active {
    background-color: #C74350;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}
p {margin-bottom: 1.143em;}
* p:last-child {margin-bottom: 0;}
strong, b {font-weight: bold;}
em, i {font-style: italic;}
::-moz-selection {background: #F6CF74; color: #fff;}
::selection {background: #F6CF74; color: #fff;}
ul {
    list-style: outside disc;
    margin: 1em 0 1.5em 1.5em;
}
ol {
    list-style: outside decimal;
    margin: 1em 0 1.5em 1.5em;
}
dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}
blockquote {font-style: italic;}
cite {}
q {}
table {margin: .5em auto 1.5em auto; width: 98%;}
thead th {padding: .5em .4em; text-align: left;}
tbody td {padding: .5em .4em;}
header, section, footer,
aside, nav, article, figure {
    display: block;
}
.body {clear: both; margin: 0 auto; width: 800px;}
img.right figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: right; margin: 0 0 2em 2em;}
#banner {
    margin: 0 auto;
    padding: 2.5em 0 0 0;
}
#banner h1 {font-size: 3.571em; line-height: .6;}
#banner h1 a:link, #banner h1 a:visited {
    color: #000305;
    display: block;
    font-weight: bold;
    margin: 0 0 .6em .2em;
    text-decoration: none;
    width: 427px;
}
#banner h1 a:hover, #banner h1 a:active {
    background: none;
    color: #C74350;
    text-shadow: none;
}
#banner h1 strong {font-size: 0.36em; font-weight: normal;}
#banner nav {
    background: #000305;
    font-size: 1.143em;
    height: 40px;
    line-height: 30px;
    margin: 0 auto 2em auto;
    padding: 0;
    text-align: center;
    width: 800px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#banner nav ul {list-style: none; margin: 0 auto; width: 800px;}
#banner nav li {float: left; display: inline; margin: 0;}
#banner nav a:link, #banner nav a:visited {
    color: #fff;
    display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
    text-decoration: none;
}
#banner nav a:hover, #banner nav a:active,
#banner nav .active a:link, #banner nav .active a:visited {
    background: #C74451;
    color: #fff;
    text-shadow: none !important;
}
#banner nav li:first-child a {
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
#featured {
    background: #fff;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    width: 760px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#featured figure {
    border: 2px solid #eee;
    float: right;
    margin: 0.786em 2em 0 5em;
    width: 248px;
}
#featured figure img {display: block; float: right;}
#featured h2 {color: #C74451; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}
#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}
#content {
    background: #fff;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px 20px;
    width: 760px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#extras {margin: 0 auto 3em auto; overflow: hidden;}
#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
    color: #C74350;
    font-size: 1.429em;
    margin-bottom: .25em;
    padding: 0 3px;
}
#extras a:link, #extras a:visited {
    color: #444;
    display: block;
    border-bottom: 1px solid #F4E3E3;
    text-decoration: none;
    padding: .3em .25em;
}
#extras li:last-child,
#extras li:last-child a {border: 0}
#extras .news li:nth-last-child(2),
#extras .news li:nth-last-child(3),
#extras .news li:nth-last-child(2) a,
#extras .news li:nth-last-child(3) a {border: 0;}
#extras a:hover, #extras a:active {color: #fff;}
#extras .news {
    float: left;
    width: 615px;
}
#extras .news li {float: left; margin: 0 20px 0 0; width: 185px;}
#extras .social {
    float: right;
    width: 175px;
}
#extras div[class='social'] a {
    background-repeat: no-repeat;
    background-position: 3px 6px;
    padding-left: 25px;
}
#about {
    background: #fff;
    font-style: normal;
    margin-bottom: 2em;
    overflow: hidden;
    padding: 20px;
    text-align: left;
    width: 760px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}
#about .url:link, #about .url:visited {text-decoration: none;}
#about .bio {float: right; width: 500px;}
#contentinfo {padding-bottom: 2em; text-align: right;}
